
:root{
    --cor-primaria: #000;
    --cor-secundaria: #76ABAE;
    --cor-terciaria: #FFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

header {
    height: 6.25rem;
    background-color: black;
    color: var(--cor-terciaria);
}

.header {
    /* Classe do header */
    max-width: 1140px;
    height: 6.25rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    /* Área da logo */
    width: 6.25rem;
}
.logoImg{
    /* Icone da logo */
    width: 5rem;
    height: 5rem;
    background-color: var(--cor-secundaria);
}

.menu{
    /* Área do menu */
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a {
    /* Itens do menu */
    color:var(--cor-terciaria);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 6.25rem;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--cor-primaria);
}
.menu li a:hover,
.menu .active a{
    /* Barra dos itens do menu */
    border-bottom:5px solid var(--cor-secundaria)
}
