
:root{
    --cor-preta: #000;
    --cor-verde: #76ABAE;
    --cor-branca: #FFF;
    --cor-cinza: #CCC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

header {
    height: 6.25rem;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
}

.header {
    /* Classe do header */
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    /* Área da logo */
    width: 6.25rem;
}
.logoImg{
    /* Icone da logo */
    width: 5rem;
    height: 5rem;
    background-color: var(--cor-verde);
}

.menu{
    /* Área do menu */
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a {
    /* Itens do menu */
    color:var(--cor-branca);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 6.25rem;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--cor-preta);
}
.menu li a:hover,
.menu .active a{
    /* Barra dos itens do menu */
    border-bottom:5px solid var(--cor-verde);
    color:var(--cor-cinza)
}
.banner {
    /* Background do inicio */
    height: calc(100vh - 100px);
    background-color: #CCC;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
}
